body {
  background-color:  #E1BEE7; /* Light gray background */
  color: #333333; /* Dark gray text */
}

.App-header {
  background-color: #007bff; /* Blue header background */
  color: white; /* White text for the header */
}

.App-link {
  color: #61dafb; /* Light blue link color */
}
/* App.css */

.task-list-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-item-container {
  width: calc(25% - 20px);
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
/* App.css */

.task-item-container {
  background-color: #E1BEE7; /* Apply background color to task item containers */
}



